new-env/
custom-env/
.env
*.ipynb
!Excel Tabs.ipynb
*.xlsx
*.docx
*.csv
*.pyc
*.json
datasets/
*/__pycache__/
Previous Results/
Excel Files/
All Results/
commands.txt
Local Input
Local Output

models/
!ollama/*.ipynb
!Notebook Steps/Use Cases Steps.ipynb